/* Write your code here. */
.con {
  background: linear-gradient(to right, #1d976c, #93f9b9);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 400px;
  width: 400px;
}
.letter {
  background-color: white;
  height: 30px;
  width: 150px;
  text-align: center;
  color: black;
  font-weight: 500;
  border-radius: 15px;
}
